<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>test design</title>

    <!-- CSS  -->
    <link th:href="@{/css/materialIcon.css}" rel="stylesheet">
    <link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/css/mainstyle.css}" type="text/css" rel="stylesheet"/>
    <!--  Scripts-->
    <script th:src="@{/js/default/jquery-2.1.1.min.js}"></script>
    <script th:src="@{/js/default/materialize.js}"></script>
    <script th:src="@{/js/default/Chart.min.js}"></script>
    <script th:src="@{/js/init.js}"></script>
    <script th:src="@{/js/esls.js}"></script>
    <script th:src="@{/js/associate.js}"></script>
    <script th:src="@{/js/welcome.js}"></script>
    <script th:src="@{/js/table.js}"></script>
    <script th:src="@{/js/items.js}"></script>
    <script th:src="@{/js/task.js}"></script>
    <script th:src="@{/js/log.js}"></script>
    <script th:src="@{/js/report.js}"></script>
</head>
<body>
<!--<header>-->
    <!--<nav class="top-nav grey lighten-5">-->
        <!--<div class="nav-wrapper">-->
            <!--<div class="row">-->
                <!--<ul class="left">-->
                    <!--<li>-->
                        <!--<a th:href="@{#}" data-target="nav-mobile"-->
                           <!--class="blue-grey darken-3 top-nav sidenav-trigger full">-->
                            <!--<i class="material-icons">menu</i>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</nav>-->


<a th:href="@{#}" data-target="nav-mobile"
   class="white top-nav sidenav-trigger full hide-on-large-only">
    <i class="material-icons">menu</i>
</a>
<ul id="nav-mobile" class="sidenav sidenav-fixed grey darken-2 col s1 m2">
    <li>
        <div class="user-view">
            <a th:href="@{#user}"><img class="circle" th:src="@{/images/user.jpg}"></a>
            <a th:href="@{#name}"><span
                    class="white-text name">менеджер [[${#httpServletRequest.remoteUser}]]</span></a>
            <a th:href="@{#email}"><span class="white-text email">user@gmail.com</span></a>
        </div>
        <div class="divider"></div>
    </li>
    <li id="welcomeWorkSpace" class="bold active">
        <i class="card-image material-icons md-light">home</i>
        <span class="white-text">Главная</span>
        <div class="divider"></div>
    </li>
    <li id="eslsWorkSpace" class="bold active">
        <i class="card-image material-icons md-light">style</i>
        <span class="white-text">Ценники</span>
        <div class="divider"></div>
    </li>
    <li id="itemsWorkSpace" class="bold active">
        <i class="card-image material-icons md-light">content_copy</i>
            <span class="white-text">Товары</span>
        <div class="divider"></div>
    </li>
    <li id="associateWorkSpace" class="bold active">
        <i class="card-image material-icons md-light">swap_horiz</i>
            <span class="white-text">Привязка</span>
        <div class="divider"></div>
    </li>
    <li id="taskWorkSpace" class="bold active">
        <i class="card-image material-icons md-light">receipt</i>
            <span class="white-text">Задачи</span>
        <div class="divider"></div>
    </li>
    <li id="logWorkSpace" class="bold active">
        <i class="card-image material-icons md-light">subject</i>
            <span class="white-text">Логи</span>
        <div class="divider"></div>
    </li>
    <li id="reportWorkSpace" class="bold active">
        <i class="card-image material-icons md-light">insert_chart</i>
            <span class="white-text">Отчеты</span>
        <div class="divider"></div>
    </li>
    <li class="bold active">
        <a class="waves-effect waves-teal white-text" href="javascript: document.logoutForm.submit()" role="menuitem">Выйти</a>
        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input hidden type="submit" value="Sign Out"/>
        </form>
        <div class="divider"></div>
    </li>
</ul>
<main class="grey lighten-3">
    <div class="row">
        <div id="mainProgress" class="progress" style="visibility: hidden; width: 99%">
            <div class="indeterminate"></div>
        </div>
        <div id="workSpace" class="section scrollspy col s11 white z-depth-1">
        </div>
    </div>
</main>

<!--<footer class="page-footer teal blue-grey lighten-4">-->
<!--<div class="footer-copyright blue-grey lighten-3">-->
<!--<div class="container">-->
<!--<span>Copyright © 2015 <a class="grey-text text-lighten-4" th:href="@{https://vk.com/svaur}"-->
<!--target="_blank">test</a> All rights reserved.</span>-->
<!--<span class="right"> Design and Developed by <a class="grey-text text-lighten-4"-->
<!--th:href="@{https://vk.com/svaur}">test</a></span>-->
<!--</div>-->
<!--</div>-->
<!--</footer>-->
</body>

</html>