table th, table td {
    padding: 10px;
}

main, footer {
    padding-left: 200px;
}

@media only screen and (max-width : 992px) {
    main, footer {
        padding-left: 0;
    }
}
.sidenav{
    width: 180px;
}
#panell{
    margin-top: 100px;
    padding: 0px;
}
#loginbtn{
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
}
#title{
    background-color: #2bbbad;
    color: white;
    padding: 8px;
    margin-top: 0px
}
form{
    padding:0px;
    border-radius: 3px;
    box-sizing: border-box;
}
#username,#password{
    margin-left: 20px;
    margin-right: 20px;
}
#checkbox{
    margin-left: 30px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
#eslTable td:hover {
    cursor: pointer;
}
/* Поехали костыли */
.divider {
    height: 1px;
    overflow: hidden;
    background-color: rgb(158, 158, 158);
}
.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1px;
}

.container {
    width: 90%;
}
.tabs .tab a{
    color:black;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: lightgray;
    outline: none;
}
.tabs .tab a:hover,tabs .tab a:active,.tabs .tab a.active {
    background-color:transparent;
    color:dimgray;
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
    color:transparent;
}
.tabs .indicator {
    background-color:black;
}

.tabs .tab a {
    color: darkgray;
}
#welcomeContainer {
    margin: 1rem;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}