table th, table td {
    padding: 10px;
}
header, main, footer {
  padding-left: 150px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
	padding-left: 0;
  }
}
#panell{
    margin-top: 100px;
    padding: 0px;
}
#loginbtn{
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
}
#title{
    background-color: #2bbbad;
    color: white;
    padding: 8px;
    margin-top: 0px
}
form{
    padding:0px;
    border-radius: 3px;
    box-sizing: border-box;
}
#username,#password{
    margin-left: 20px;
    margin-right: 20px;
}
#checkbox{
    margin-left: 30px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
#esl-table td:hover {
    cursor: pointer;
}
/* Поехали костыли */
.divider {
    height: 1px;
    overflow: hidden;
    background-color: rgb(158, 158, 158);
}
.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1px;
}
#uploadBtn{
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px;
    margin-left: 230px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}


