<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>test design</title>

    <!-- CSS  -->
    <link th:href="@{/css/materialIcon.css}" rel="stylesheet">
    <link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<!--  Scripts-->
<script th:src="@{/js/jquery-2.1.1.min.js}"></script>
<script th:src="@{/js/materialize.js}"></script>
<script th:src="@{/js/init.js}"></script>

<nav>
    <div class="nav-wrapper blue-grey">
        <a th:href="@{#}" class="brand-logo center">MVP Test</a>
        <ul class="right">
            <li><a th:href="@{#}">MENU1</a></li>
            <li class="active"><a th:href="@{#}">MENU2</a></li>
        </ul>
    </div>
</nav>
<a th:href="@{#}" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
<header>

    <ul id="nav-mobile" class="sidenav sidenav-fixed grey" style="transform: translateX(0%);">
        <li><div class="user-view">

            <a th:href="@{#user}"><img class="circle" th:src="@{/images/user.jpg}"></a>
            <a th:href="@{#name}"><span class="white-text name">менеджер [[${#httpServletRequest.remoteUser}]]</span></a>
            <a th:href="@{#email}"><span class="white-text email">pupkin@gmail.com</span></a>
            <form th:action="@{/logout}" method="post">
                <input class="waves-effect waves-light btn-small" type="submit" value="Sign Out"/>
            </form>
        </div></li>
        <li class="bold"><a th:href="@{#}" class="waves-effect waves-teal">MENU</a></li>
        <li class="bold"><a th:href="@{#}" class="waves-effect waves-teal">MENU</a></li>
        <li class="bold"><a th:href="@{#}" class="waves-effect waves-teal">MENU</a></li>
        <li class="bold"><a th:href="@{#}" class="waves-effect waves-teal">MENU</a></li>
    </ul>

</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m1 xl7 offset-xl1">
                <a class="btn-floating btn-large waves-effect waves-light blue-grey right"><i class="material-icons">add</i></a>
                <div id="structure" class="section scrollspy">
                    <table class="bordered striped centered highlight responsive-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Item Name</th>
                            <th>Item Price</th>
                            <th>Name</th>
                            <th>Item Name</th>
                            <th>Item Price</th>
                            <th>Name</th>
                            <th>Item Name</th>
                            <th>Item Price</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td><a class="waves-effect waves-light btn-small">Button</a></td>
                            <td><a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>button</a></td>
                            <td><a class="waves-effect waves-light btn-small"><i class="material-icons right">cloud</i>button</a></td>
                        </tr>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td><a class="waves-effect waves-light btn-small">Button</a></td>
                            <td><a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>button</a></td>
                            <td><a class="waves-effect waves-light btn-small"><i class="material-icons right">cloud</i>button</a></td>
                        </tr>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td><a class="btn-large disabled">Button</a></td>
                            <td><a class="btn disabled">Button</a></td>
                            <td><a class="btn-flat disabled">Button</a></td>
                            <td><a class="btn-floating disabled"><i class="material-icons">add</i></a></td>
                        </tr>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td><a class="waves-effect waves-light btn-large">Button</a></td>
                            <td><a class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>button</a></td>
                            <td><a class="waves-effect waves-light btn-large"><i class="material-icons right">cloud</i>button</a></td>
                        </tr>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td><button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button></td>
                        </tr>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                        </tr>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                        </tr>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                        </tr>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                        </tr>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                        </tr>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                        </tr>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                        </tr>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                        </tr>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                        </tr>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                        </tr>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</main>

<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">vcbcvbcvb</h5>
                <p class="grey-text text-lighten-4">dfgdfgdfg.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" th:href="@{#}">Link 1</a></li>
                    <li><a class="white-text" th:href="@{#}">Link 2</a></li>
                    <li><a class="white-text" th:href="@{#}">Link 3</a></li>
                    <li><a class="white-text" th:href="@{#}">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" th:href="@{#}">Link 1</a></li>
                    <li><a class="white-text" th:href="@{#}">Link 2</a></li>
                    <li><a class="white-text" th:href="@{#}">Link 3</a></li>
                    <li><a class="white-text" th:href="@{#}">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>

</html>