<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>test design</title>

    <!-- CSS  -->
    <link th:href="@{/css/default/materialIcon.css}" rel="stylesheet">
    <link th:href="@{/css/default/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
    <!--  Scripts-->
    <script th:src="@{/js/default/jquery-2.1.1.min.js}"></script>
    <script th:src="@{/js/default/materialize.js}"></script>
    <script th:src="@{/js/init.js}"></script>
</head>
<body>

<nav>
    <div class="nav-wrapper blue-grey">
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <a th:href="@{#}" class="brand-logo center">MVP Test</a>
                <ul class="right">
                    <li>
                        <a class='dropdown-trigger btn' data-target='dropdown1'>Drop Me!</a>
                        <!-- Dropdown Structure -->
                        <ul id='dropdown1' class='dropdown-content'>
                            <li><a href="#">one</a></li>
                            <li><a href="#">two</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a href="#">three</a></li>
                            <li><a href="#"><i class="material-icons">view_module</i>four</a></li>
                            <li><a href="#"><i class="material-icons">cloud</i>five</a></li>
                        </ul></li>

                    <li class="active"><a th:href="@{#}">MENU2</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<header>
    <a th:href="@{#}" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="sidenav sidenav-fixed blue-grey" style="transform: translateX(0%);">
        <li><div class="user-view">

            <a th:href="@{#user}"><img class="circle" th:src="@{/images/user.jpg}"></a>
            <a th:href="@{#name}"><span class="white-text name">менеджер [[${#httpServletRequest.remoteUser}]]</span></a>
            <a th:href="@{#email}"><span class="white-text email">pupkin@gmail.com</span></a>
            <form th:action="@{/logout}" method="post">
                <input class="waves-effect waves-light btn-small" type="submit" value="Sign Out"/>
            </form>
        </div></li>
        <li class="bold"><a id ="menu1" class="waves-effect waves-teal">табличка</a></li>
        <li class="bold"><a id ="menu2" class="waves-effect waves-teal">пустая табличка</a></li>
        <li class="bold"><a id ="menu3" class="waves-effect waves-teal">строка с сервера</a></li>
        <li class="bold"><a id ="menu4" class="waves-effect waves-teal">просто строка</a></li>
    </ul>
</header>


<main>
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m1 xl7 offset-xl1">
                <a class="btn-floating btn-large waves-effect waves-light blue-grey right"><i class="material-icons">add</i></a>
                <div id="workSpace" class="section scrollspy">
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="page-footer teal">
    <div class="footer-copyright">
        <div class="container">
            <span>Copyright © 2015 <a class="grey-text text-lighten-4" th:href="@{https://vk.com/svaur}" target="_blank">test</a> All rights reserved.</span>
            <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" th:href="@{https://vk.com/svaur}">test</a></span>
        </div>
    </div>
</footer>
</body>

</html>